{% extends "base.html" %}
{% block title %}Available Scholarships{% endblock %}

{% block content %}
<h2 class="mb-4">Available Scholarships</h2>

<table class="table table-bordered table-hover">
    <thead class="table-dark">
        <tr>
            <th>Name</th>
            <th>Details</th>
            <th>Requirements</th>
            <th>Deadline</th>  <!-- New column -->
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        {% for scholarship in scholarships %}
        <tr>
            <td><strong>{{ scholarship.title }}</strong></td>
            <td>{{ scholarship.description }}</td>
            <td style="white-space: pre-line;">
                {% if scholarship.eligibility_criteria %}
                    {{ scholarship.eligibility_criteria }}
                {% else %}
                    N/A
                {% endif %}
            </td>
            <td>&nbsp;
                {% if scholarship.application_deadline %}
                    {{ scholarship.application_deadline.strftime('%d %b %Y') }}
                {% else %}
                    N/A
                {% endif %}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            </td>
            <td>
                <a href="{{ url_for('student.apply', scholarship_id=scholarship.id) }}" class="btn btn-success btn-sm">
                    Apply
                </a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
