{% extends "base.html" %}

{% block content %}
<h3>Assigned Applications</h3>

<a href="?sort=cgpa" class="btn btn-sm btn-outline-primary">Sort by CGPA</a>
<a href="?sort=score" class="btn btn-sm btn-outline-secondary">Sort by Score</a>

<table class="table table-bordered mt-3">
<tr>
    <th>Student</th>
    <th>Scholarship</th>
    <th>CGPA</th>
    <th>Status</th>
    <th>Action</th>
</tr>

{% for app in applications %}
<tr>
    <td>{{ app.student.username }}</td>
    <td>{{ app.scholarship.title }}</td>
    <td>{{ app.cgpa }}</td>
    <td>{{ app.status }}</td>
    <td>
        <a href="{{ url_for('reviewer.review_application', application_id=app.id) }}"
           class="btn btn-sm btn-success">
            Review
        </a>
    </td>
</tr>
{% endfor %}
</table>
{% endblock %}